<app-narvar></app-narvar>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta de Pagos y Cobros</title>

</head>
<body>
    <div class="container">
        <h1>Pagos y Cobros</h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pagos-tab" data-toggle="tab" href="#pagos" role="tab" aria-controls="pagos" aria-selected="true">Pagos</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="cobros-tab" data-toggle="tab" href="#cobros" role="tab" aria-controls="cobros" aria-selected="false">Cobros</a>
            </li>
          
        </ul>
        <div class="tab-content" id="myTabContent">
      
            <div class="tab-pane fade show active" id="pagos" role="tabpanel" aria-labelledby="pagos-tab">
                <h2>Pagos</h2>
                <p>Administra los pagos</p>
            </div>
       
            <div class="tab-pane fade" id="cobros" role="tabpanel" aria-labelledby="cobros-tab">
                <h2>Cobros</h2>
           
            </div>
           
            <div class="tab-pane fade" id="tus-pagos" role="tabpanel" aria-labelledby="tus-pagos-tab">
                <h2>Tus pagos</h2>
                <p>Lleva un registro de todos tus pagos y reembolsos.</p>
            </div>
        </div>
     
        <div class="mt-4">
            <h3>Formas de pago</h3>
            <p>Agrega una forma de pago con nuestro sistema de pago seguro y comienza a planear tu próximo viaje.</p>
            <button class="btn btn-primary">Agregar forma de pago</button>
        </div>
       
        
    
        
    </div>


</body>
