<app-narvar></app-narvar>
<div class="background-container">
<div class="container">
  <h1 class="mt-3">Administrar tus Unidades</h1>
</div>

<br>

<section class="container">
  <div class="row">
    <div *ngFor="let unidad of unidades" class="col-md-4">
      <div class="card">
        <!-- Asegúrate de ajustar las propiedades de la unidad según tu interfaz -->
        <img src="../../../assets/img/Casita.jpeg" class="card-img-top" [alt]="unidad.nombre">
        <div class="card-body">
          <h5 class="card-title">{{ unidad.NombrePropiedad }}</h5>
          <p class="card-text">{{ unidad.Descripcion }}</p>
          <div class="btn-group">
            <!-- Puedes agregar lógica para eliminar y actualizar unidades según tus necesidades -->
            <button class="btn btn-sm btn-secondary" (click)="eliminarUnidad(unidad.ID)">Eliminar</button>
            <button class="btn btn-sm btn-primary ml-2" [routerLink]="'editar-unidad/' + unidad.ID">Actualizar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
</div>
