<app-narvar></app-narvar>

<head>
    <title>Notificaciones y Mensajes</title>

</head>
<body>
    <div class="container">
        <h1>Notificaciones y Mensajes</h1>

        <div class="alert alert-info">
            <h4 class="alert-heading">Notificación 1</h4>
            <p>Esta es la descripción de la notificación 1.</p>
            <button class="btn btn-danger" onclick="eliminarNotificacion(this)">Eliminar</button>
        </div>

        <div class="alert alert-info">
            <h4 class="alert-heading">Notificación 2</h4>
            <p>Esta es la descripción de la notificación 2.</p>
            <button class="btn btn-danger" onclick="eliminarNotificacion(this)">Eliminar</button>
        </div>

        <div class="alert alert-success">
            <h4 class="alert-heading">Mensaje 1</h4>
            <p>Este es el contenido del mensaje 1.</p>
            <button class="btn btn-danger" onclick="eliminarMensaje(this)">Eliminar</button>
        </div>

        <div class="alert alert-success">
            <h4 class="alert-heading">Mensaje 2</h4>
            <p>Este es el contenido del mensaje 2.</p>
            <button class="btn btn-danger" onclick="eliminarMensaje(this)">Eliminar</button>
        </div>
    </div>


</body>

