<app-narvar></app-narvar>


<div class="background-container">
   

    <div class="row justify-content-center">
      <!-- Las últimas tres tarjetas ahora están en el centro de la página -->
      <div class="col-md-4">
        <a routerLink="/usuario_informacionPersonal">
          <div class="card">
           
            <div class="card-body">
              <h5 class="card-title">Información personal</h5>
              <p class="card-text">Administra tu información personal y de seguridad</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a routerLink="/administar-unidad">
          <div class="card">
           
            <div class="card-body">
              <h5 class="card-title">Propiedades</h5>
              <p class="card-text">Administra las propiedades en tu poder</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a routerLink="/agregar-unidad"> <!-- Cambia "/3" según la ID del lugar -->
          <div class="card">
           
            <div class="card-body">
              <h5 class="card-title">Agregar Unidad</h5>
              <p class="card-text">Administra pagos, cobros y formas de pago</p>
            </div>
          </div>
        </a>
      </div>
    </div>

</div>
 

<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2023 Terreneitor. Todos los derechos reservados.</p>
  </footer>

