<app-narvar></app-narvar>

<div class="background-container" style="background-image: url('../../../assets/img/fondoazul.jpg');">
    <section class="container tarjetas-section">
        <div class="row justify-content-center">

            <!-- Tarjetas en la primera fila -->
            <div class="col-md-6">
                <a routerLink="/usuario_informacionPersonal">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Información personal</h5>
                            <p class="card-text">Administra tu información personal y de seguridad</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a routerLink="/administar-unidad">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Propiedades</h5>
                            <p class="card-text">Administra las propiedades en tu poder</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Tarjetas en la segunda fila -->
            <div class="col-md-6">
                <a routerLink="/procesos">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Procesos (Recibos)</h5>
                            <p class="card-text">Administra pagos y recibos</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a routerLink="/agregar-unidad">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Agregar Unidad</h5>
                            <p class="card-text">Administra pagos, cobros y formas de pago</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </section>
</div>

<app-footer></app-footer>
