<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark"> <!-- Cambiamos bg-light a bg-dark -->
    <a class="navbar-brand" href="#" style="color: white;">Terreneitor</a> <!-- Cambiamos el color del texto a blanco -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard" style="color: white;">Inicio</a> <!-- Cambiamos el color del texto a blanco -->
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/infromacion" style="color: white;">Usuario</a> <!-- Cambiamos el color del texto a blanco -->
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/consejos" style="color: white;">Consejos</a> <!-- Cambiamos el color del texto a blanco -->
        </li>
      </ul>
    </div>
  </nav>
</header>
