/* Estilos generales */
html, body {
  height: 100%;
  margin: 0;
  font-size: 16px; /* Tamaño base de la fuente */
  display: flex; /* Usar flexbox para alinear contenido verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

/* Estilos para el contenedor de fondo */
.background-container {
  font-family: Arial, sans-serif;
  background-image: url('../../../assets/img/unidad.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100%;
  position: relative;
}

/* Estilos para el título "Agregar Unidad" */
.tarjetas-section h1 {
  text-align: center;
  font-size: 3em; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  color: #333; /* Color de texto gris oscuro */
  margin-top: 40px; /* Espacio superior */
}

/* Estilos para los títulos de las tarjetas */
.card-body h3 {
  font-weight: bold; /* Texto en negrita */
  font-size: 1.5em; /* Tamaño del texto */
}

/* Estilos para los inputs */
.form-control {
  font-size: 1.2em; /* Tamaño del texto en los inputs */
  font-weight: bold; /* Texto en negrita */
}

/* Estilos para las tarjetas */
.card {
  font-family: Arial, sans-serif;
  font-size: 1.2em; /* Tamaño del texto en las tarjetas */
  background-color: rgba(255, 255, 255, 0.7); /* Fondo transparente */
  margin-top: 20px; /* Espacio superior entre tarjetas */
  width: 100%; /* Ajustar ancho al 100% */
  max-width: 600px; /* Ancho máximo */
  padding: 20px; /* Espaciado interno */
  box-sizing: border-box; /* Incluir el padding en el ancho total */
}
.btn-primary {
  display: block;
  margin: 20px auto; /* Espaciado exterior */
  background-color: gray; /* Cambiar color de fondo del botón */
  color: white; /* Cambiar color del texto del botón */
  font-weight: bold; /* Texto en negrita */
  font-size: 1.5em; /* Tamaño del texto */
  width: 70%; /* Ancho del botón */
  max-width: 300px; /* Ancho máximo del botón */
}

.tarjetas-section h2 code {
  font-size: 0.8em; /* Tamaño del código */
}

.tarjetas-section h2 {
  text-align: center; /* Centrar texto */
  font-size: 2em; /* Tamaño del título */
  font-weight: bold; /* Texto en negrita */
  margin-top: 40px; /* Espacio superior */
  width: 80%; /* Ancho del contenedor */
  max-width: 600px; /* Ancho máximo del contenedor */
  padding: 10px; /* Espaciado interno */
  box-sizing: border-box; /* Incluir el padding en el ancho total */
  margin: 0 auto; /* Centrar horizontalmente */
}
