<app-narvar></app-narvar>

<div class="background-container">
  <section class="container tarjetas-section">
    <h1 class="mt-3">Agregar Unidad</h1>

    <div class="container">
      <form #unidadForm="ngForm">

        <!-- Nombre de la unidad -->
        <h2 class="mt-4">Nombre de la unidad</h2>
        <input type="text" class="form-control" placeholder="Nombre de la Unidad" [(ngModel)]="unida.NombrePropiedad" name="NombrePropiedad">

        <div class="row mt-4">
          <!-- Primera columna de tarjetas -->
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h3>Precio</h3>
                <input type="text" class="form-control" placeholder="$495 MXN" [(ngModel)]="unida.PrecioPorNoche" name="PrecioPorNoche">
              </div>
            </div>
          </div>

          <!-- Segunda columna de tarjetas -->
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h3>Descripción</h3>
                <textarea class="form-control" rows="3" placeholder="Descripción" [(ngModel)]="unida.Descripcion" name="Descripcion"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <!-- Tercera columna de tarjetas -->
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h3>Tipo de Propiedad</h3>
                <select class="form-control" [(ngModel)]="unida.TipoPropiedad" name="TipoPropiedad">
                  <option value="Casa">Casa</option>
                  <option value="Departamento">Departamento</option>
                  <option value="Terreno">Terreno</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Cuarta columna de tarjetas -->
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h3>Dirección</h3>
                <input type="text" class="form-control" placeholder="Dirección" [(ngModel)]="unida.DireccionID" name="DireccionID">
              </div>
            </div>
          </div>
        </div>

        <!-- Botón de guardar -->
        <button class="btn btn-primary" (click)="saveNewUnidad()" [disabled]="!unidadForm.valid">Guardar</button>
      </form>
    </div>
  </section>

  <app-footer></app-footer>
</div>
