<app-narvar></app-narvar>
<head>
    <meta charset="UTF-8">
   
    <title>Agregar Unidad</title>
</head>

<body>
    <div class="container">
        <h1 class="mt-3">Agregar Unidad</h1>
   


        <form action="#" method="post">
            <div class="mb-3">
                <label for="tipo">Tipo:</label>
                <select class="form-select" id="tipo" name="tipo">
                    <option value="renta">Renta</option>
                    <!----  <option value="venta">Venta</option> -->
                </select>
            </div>


        <!-- fotos -->

        <h2 class="mt-4">Nombre de la unidad</h2>
        <input type="text" class="form-control" id="" placeholder="Nombre de la Unidad ">
        <!-- Aquí puedes agregar el código para mostrar las fotos -->

        <!-- Información del alojamiento -->
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Fotos</h3>
                        <p>cogigo para agragar fotos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Servicios</h3>
                        <textarea class="form-control" rows="3" placeholder="Servicios"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!-- Precios y disponibilidad -->
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Precio</h3>
                        <input type="text" id="precio" class="form-control" placeholder="$495 MXN">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Disponibilidad</h3>
                        <textarea class="form-control" rows="3" placeholder="Servicios"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!-- Descripción del alojamiento -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3>Descripción</h3>
                        <textarea class="form-control" rows="3" placeholder="Descripción"></textarea>
                    </div>
                </div>
            </div>
        </div>
        

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3>Dueño</h3>
                <p>Informacion del usuario precargada </p>
                <!-- Aquí puedes agregar más detalles sobre el anfitrión -->
            </div>
        </div>
    </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3>Direccion</h3>
                        <input type="text" class="form-control" id="" placeholder="Direccion">
                        <p>Mapa implementado api</p>
                    </div>
                </div>
            </div>
        </div>
        <br>


        <button class="btn btn-primary">Guardar</button>
