<app-narvar></app-narvar>

<head>
    
</head>
<body>
    <div class="container">
        <h1>Documentos de Propiedades</h1>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Propiedad 1</h5>
                <p class="card-text">Aquí puedes ver el documento legal de la Propiedad 1.</p>
                <a href="#" class="btn btn-primary">Ver Documento</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Propiedad 2</h5>
                <p class="card-text">Aquí puedes ver el documento legal de la Propiedad 2.</p>
                <a href="#" class="btn btn-primary">Ver Documento</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Propiedad 3</h5>
                <p class="card-text">Aquí puedes ver el documento legal de la Propiedad 3.</p>
                <a href="#" class="btn btn-primary">Ver Documento</a>
            </div>
        </div>
    </div>

</body>

